<div class="ui raised segment">
  <h2 class="ui header">[(ngModel)]</h2>
  <div class="field">
    <label for="model">基本使用：</label>
    <input type="text" id="model" [(ngModel)]="age">
  </div>
</div>


<div class="ui raised segment">
  <h2 class="ui header">radio</h2>
  <div class="field">
    <input name="options" type="radio" [(ngModel)]="model.options" [value]="1" [checked]="model.options==1" />1
    <br/>
    <input name="options" type="radio" [(ngModel)]="model.options" [value]="2" [checked]="model.options==2" />2
    <br/>
  </div>
</div>

<div class="ui raised segment">
  <h2 class="ui header">checkbox</h2>
  <div class="field">
    <input type="checkbox" [(ngModel)]="model.checkbox"  [value]="1"/>1
    <input type="checkbox" [(ngModel)]="model.checkbox" [value]="2" />2
    <br/>
  </div>
</div>

<div class="ui raised segment">
  <h2 class="ui header">Inside [(ngModel)]</h2>
  <div class="field">
    <label for="modelInner">拆分</label>
    <!-- <input type="text" id="modelInner" placeholder="Inside [(ngModel)]" [value]="inside" (change)="inside=$event.target.value"> -->
    <input type="text" id="modelInner" placeholder="Inside [(ngModel)]" [ngModel]="inside" (ngModelChange)="getModelChange($event)">
  </div>
</div>

<div class="ui raised segment">
  <h2 class="ui header">自定义表单控件</h2>
  <app-p-radio [value]="'a'" [label]="'text1'" [(ngModel)]="checkedValue" (pRadioChange)="getpRadioChange($event)"></app-p-radio>
  <app-p-radio [value]="'b'" [label]="'text2'" [(ngModel)]="checkedValue" (pRadioChange)="getpRadioChange($event)"></app-p-radio>
</div>
