<div class="page-header">
  <div class="container">
    <h1>Router Sample</h1>
    <div class="navLinks">
      <!-- 第一种方式 -->
      <a [routerLink]="['/home']" [routerLinkActive]="['shine']">Home</a>
      <!-- 第二种方式 -->
      <a routerLink='/about' routerLinkActive='shine'>About Us</a>
      <a [routerLink]="['/contact']" [routerLinkActive]="['shine']">Contact Us</a>
      |
      <a [routerLink]="['/products']" [routerLinkActive]="['shine']" [routerLinkActiveOptions]="{ exact: true }">Products</a>
      <a [routerLink]="['/login']" [routerLinkActive]="['shine']">Login</a>
      <a [routerLink]="['/protected']" [routerLinkActive]="['shine']">Protected</a>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
